@model Gopat.Crm.Ui.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>PAT Testing Motherfuckers!</p>
</div>


<div class="row">
    <div class="col-12">

    </div>
</div>


<div class="row">
    <div class="col-4">
        <h3>Companies</h3>  
        <table>
            <tr>
                <td>Total Contracts</td>
                <td>78</td>
            </tr>
        </table>
    </div>
</div>
